
<html>

<head>

  
  <title> contact list <!--<%= title %>-->
      
	</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="/css/homestyle.css">
    
  
</head>
<body >
  <header >

  


    <div id="home_heading">

        <i class="fa fa-phone " >

        </i>
        Contact list
      
    
    </div>
    
  </header>
  <main id ="main">
    
      <div id="home_link">

        <a href="/profile" id="lol" > click here to view and add contacts</a>

      </div>
    
    
  </main>

</body>
</html>